[Unit]
Description=ctguard logscan
Wants=ctguard-research.service
After=ctguard-research.service

[Service]
ExecStart=/usr/sbin/ctguard-logscan -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
