 [test_dir/lnk1] : ALERT: New object Path:            test_dir/lnk1 User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 8 Mode:            lrwxrwxrwx Target:          txt1.txt Valid:           true Type:            symbolic link ALERT END
 [test_dir/lnk1] : ALERT: object deleted Path:            test_dir/lnk1 Type:            symbolic link ALERT END
 [test_dir/lnk2] : ALERT: New object Path:            test_dir/lnk2 User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 4 Mode:            lrwxrwxrwx Target:          dead Valid:           false Type:            symbolic link ALERT END
 [test_dir/lnk3] : ALERT: New object Path:            test_dir/lnk3 User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 9 Mode:            lrwxrwxrwx Target:          test5.txt Valid:           true Type:            symbolic link ALERT END
 [test_dir/test5.txt] : ALERT: New object Path:            test_dir/test5.txt User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 6 Mode:            -rw-r--r-- SHA256 checksum: 87790b12003ec58e0a786fc4aaeeb11c6d3bbbfa19f0d05fa2368771a7b83ffb Type:            regular file ALERT END
 [test_dir/test5.txt] : ALERT: object deleted Path:            test_dir/test5.txt Type:            regular file ALERT END
 [test_dir/testsub] : ALERT: New object Path:            test_dir/testsub User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 4096 Mode:            drwxr-xr-x Type:            directory ALERT END
 [test_dir/testsub] : ALERT: object deleted Path:            test_dir/testsub Type:            directory ALERT END
 [test_dir/testsub/testsubsub] : ALERT: New object Path:            test_dir/testsub/testsubsub User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 4096 Mode:            drwxr-xr-x Type:            directory ALERT END
 [test_dir/testsub/testsubsub] : ALERT: object deleted Path:            test_dir/testsub/testsubsub Type:            directory ALERT END
 [test_dir/testsub/testsubsub/sub] : ALERT: New object Path:            test_dir/testsub/testsubsub/sub User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 4096 Mode:            drwxr-xr-x Type:            directory ALERT END
 [test_dir/testsub/testsubsub/sub] : ALERT: object deleted Path:            test_dir/testsub/testsubsub/sub Type:            directory ALERT END
 [test_dir/testsub/txt3.txt] : ALERT: New object Path:            test_dir/testsub/txt3.txt User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 7 Mode:            -rw-r--r-- SHA256 checksum: 35753101e0e751ccbfe282be32b32967279a0f324baf0349e10f75404151ed67 Type:            regular file ALERT END
 [test_dir/testsub/txt3.txt] : ALERT: object deleted Path:            test_dir/testsub/txt3.txt Type:            regular file ALERT END
 [test_dir/testsub/txt.txt] : ALERT: New object Path:            test_dir/testsub/txt.txt User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 5 Mode:            -rw-r--r-- SHA256 checksum: f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2 Type:            regular file ALERT END
 [test_dir/testsub/txt.txt] : ALERT: object deleted Path:            test_dir/testsub/txt.txt Type:            regular file ALERT END
 [test_dir/txt1.txt] : ALERT: New object Path:            test_dir/txt1.txt User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 5 Mode:            -rw-r--r-- SHA256 checksum: f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2 Type:            regular file ALERT END
 [test_dir/txt1.txt] : ALERT: object changed Path:            test_dir/txt1.txt Type:            regular file Size changed from '5' to '7' bytes SHA256 checksum changed from 'f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2' to '35753101e0e751ccbfe282be32b32967279a0f324baf0349e10f75404151ed67' Start Diff @@ -1,2 +1,3 @@  test +2   End Diff ALERT END
 [test_dir/txt2.txt] : ALERT: New object Path:            test_dir/txt2.txt User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 5 Mode:            -rw-r--r-- SHA256 checksum: f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2 Type:            regular file ALERT END
 [test_dir/txt3.txt] : ALERT: New object Path:            test_dir/txt3.txt User:            ITEST_USER_REPLACEME Group:           ITEST_GROUP_REPLACEME Size (in bytes): 5 Mode:            -rw-r--r-- SHA256 checksum: f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2 Type:            regular file ALERT END
 [test_dir/txt3.txt] : ALERT: object deleted Path:            test_dir/txt3.txt Type:            regular file ALERT END
