#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- all USERMODE=1

override_dh_installsystemd:
	dh_installsystemd ctguard-research.service ctguard-logscan.service ctguard-diskscan.service ctguard-intervention.service

override_dh_missing:
	dh_missing --fail-missing
