[Unit]
Description=ctguard research
Documentation=man:ctguard-research(8) man:research.conf(5) man:rules.xml(5)

Wants=ctguard-intervention.service
After=ctguard-intervention.service

[Service]
ExecStart=/usr/sbin/ctguard-research -f
Restart=on-failure
User=ctguard
RuntimeDirectory=ctguard
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
