[Unit]
Description=ctguard diskscan
Documentation=man:ctguard-diskscan(8) man:diskscan.conf(5)

Wants=ctguard-research.service
After=ctguard-research.service

[Service]
ExecStart=/usr/sbin/ctguard-diskscan -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
