[Unit]
Description=ctguard diskscan
Documentation=man:ctguard-diskscan(8) man:diskscan.conf(5)

Requires=ctguard-research.service
After=ctguard-research.service

[Service]
ExecStart=/usr/sbin/ctguard-diskscan -f
Restart=on-failure
RestartSec=2
ReadWritePaths=/var/lib/ctguard

# hardening
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RestrictNamespaces=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
