[Unit]
Description=ctguard logscan
Documentation=man:ctguard-logscan(8) man:logscan.conf(5)

Wants=ctguard-research.service
After=ctguard-research.service

[Service]
ExecStart=/usr/sbin/ctguard-logscan -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
