 [test_dir/dest] : ALERT: New object Path:            test_dir/dest User:            ITEST_USER_REPLACEME Group:           ITEST_USER_REPLACEME Size (in bytes): 0 Mode:            -rw-r--r-- SHA256 checksum: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855 Type:            regular file ALERT END  
 [test_dir/dest] : ALERT: object deleted Path:            test_dir/dest Type:            regular file ALERT END  
 [test_dir/lnk] : ALERT: New object Path:            test_dir/lnk User:            ITEST_USER_REPLACEME Group:           ITEST_USER_REPLACEME Size (in bytes): 4 Mode:            lrwxrwxrwx Target:          dest Valid:           true Type:            symbolic link ALERT END  
 [test_dir/testdir] : ALERT: New object Path:            test_dir/testdir User:            ITEST_USER_REPLACEME Group:           ITEST_USER_REPLACEME Size (in bytes): 4096 Mode:            drwxr-xr-x Type:            directory ALERT END  
 [test_dir/testdir] : ALERT: object deleted Path:            test_dir/testdir Type:            directory ALERT END  
 [test_dir/txt1.txt] : ALERT: New object Path:            test_dir/txt1.txt User:            ITEST_USER_REPLACEME Group:           ITEST_USER_REPLACEME Size (in bytes): 5 Mode:            -rw-r--r-- SHA256 checksum: f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2 Type:            regular file ALERT END  
 [test_dir/txt1.txt] : ALERT: object changed Path:            test_dir/txt1.txt Type:            regular file Size changed from '17' to '21' bytes SHA256 checksum changed from '68d0349fb2ed467cbae46606bb7d1f3f305b124fd9eeae703ac065b14065fd6c' to '639f82a494f841637ac624ee06cad65b1b959de1aaf5ee698e784227c27e4f0b' Start Diff @@ -2,4 +2,5 @@  do1  do2  do3 +do4   End Diff ALERT END  
 [test_dir/txt1.txt] : ALERT: object changed Path:            test_dir/txt1.txt Type:            regular file Size changed from '5' to '9' bytes SHA256 checksum changed from 'f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2' to '3e2a548a9f9adaf6c218e1d618c3afc098ba298ca2ea5f944530dd4d529e9228' Start Diff @@ -1,2 +1,3 @@  test +do1   End Diff ALERT END  
 [test_dir/txt1.txt] : ALERT: object changed Path:            test_dir/txt1.txt Type:            regular file Size changed from '9' to '17' bytes SHA256 checksum changed from '3e2a548a9f9adaf6c218e1d618c3afc098ba298ca2ea5f944530dd4d529e9228' to '68d0349fb2ed467cbae46606bb7d1f3f305b124fd9eeae703ac065b14065fd6c' Start Diff @@ -1,3 +1,5 @@  test  do1 +do2 +do3   End Diff ALERT END  
 [test_dir/txt3.txt] : ALERT: New object Path:            test_dir/txt3.txt User:            ITEST_USER_REPLACEME Group:           ITEST_USER_REPLACEME Size (in bytes): 5 Mode:            -rw-r--r-- SHA256 checksum: f2ca1bb6c7e907d06dafe4687e579fce76b37e4e93b7605022da52e6ccc26fd2 Type:            regular file ALERT END  
